<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>吳承祐簡介</title>
</head>
<body> 
	<table width="70%">
		<tr>
			<td><img src="/static/cliff.jpg" width="110%"></img></td>
			
			<td>
				<td><h1>吳承祐</h1>
				<h2>WU CHENG-YU</h2>
			</td>
			
		</tr>
	</table>
	
    <table border="1">
    	<tr>
    		<td>
    			IG:<a href="https://www.instagram.com/andywu_1207/"https://www.instagram.com/andywu_1207/</a><br>
	    		GMAIL:<a href="mailto:andy43034303@gmail.com">andy43034303@gmail.com</a><br>
	    	</td>
    	</tr>
    </table>
   
   		
   	</td>
	
	<td>
		大象席地而坐電影配樂<br>
		<audio controls>
		<source src="/static/elephant.mp3" type="audio/mP3">
		</audio><br>
	</td>

    <td>
    	MV<br>
 		<iframe src="https://www.youtube.com/embed/bvlOFh3ZdEg" allowfullscreen></iframe>
 	</td>
 </tr>
</table>
</body>
</html>
